body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #18c796;
    font-family:consolas;
}
/*Recuadro*/
.interact{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}
/*Fondo led del recuadro*/
.interact:hover{
    background: #03fae59f;
    box-shadow: 0 0 10px #03fae59f, 0 0 40px #03fae59f, 0 0 80px #03fae59f;
    transition-delay: 0,5s;
    
 }

/*Botones*/
.interact .botons {
    bottom: -100%;
    left: 0;
    width: 300px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#e8a231);
}
/*Fondo led de los botones*/
.interact .botons:hover{
    background: #effb05;
    box-shadow: 0 0 10px #effb05, 0 0 40px #effb05, 0 0 80px #effb05;
    transition-delay: 0,5s;
    
}


